<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>
<form th:method="POST" th:action="@{/addNewUser}" th:object="${user}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <br>
    <label for="lastname">Lastname:</label>
    <input type="text" th:field="*{lastName}" id="lastname">
    <br>
    <br>
    <label for="phonenumber">Phone number:</label>
    <input type="text" th:field="*{phoneNumber}" id="phonenumber">
    <br>
    <br>
    <input type="submit" value="Add User">

</form>
<br>
<a href = "/users">Click here for back to Users list</a>
</body>
</html>