<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
  <input type="hidden" th:field="*{id}" th:value="${user.id}">
  <label for="name">Enter name:</label>
  <input type="text" th:field="*{name}" id="name" th:value="${user.name}">
  <br><br>
  <label for="lastname">Lastname:</label>
  <input type="text" th:field="*{lastName}" id="lastname" th:value="${user.lastName}">
  <br><br>
  <label for="phonenumber">Phone number:</label>
  <input type="text" th:field="*{phoneNumber}" id="phonenumber" th:value="${user.phoneNumber}">
  <br><br>
  <input type="submit" value="Update User">

</form>
</body>
</html>