<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User by id</title>
</head>
<body>
<table border="1" align="center">
    <caption align="center">User by id</caption>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Phone number</th>
        <th>Action</th>
    </tr>
    <tr>
        <td th:utext="${showUser.getId()}">Id</td>
        <td th:utext="${showUser.getName()}">Name</td>
        <td th:utext="${showUser.getLastName()}">LastName</td>
        <td th:utext="${showUser.getPhoneNumber()}">Phone Number</td>
        <td>
            <form th:method="GET" th:action="@{/{id}/edit(id=${showUser.getId()})}">
                <input type="submit" value="edit"/>
            </form>
            <form th:method="DELETE" th:action="@{/{id}(id=${showUser.getId()})}">
                <input type="submit" value="delete">
            </form>
        </td>
    </tr>
</table>
</body>
</html>