<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All usesrs</title>
</head>
<body>
<table border="1" align="center">
    <caption align="center">All users</caption>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Phone number</th>
        <th>action</th>
    </tr>
    <tr th:each="users : ${allUsers}">
        <td th:utext="${users.getId()}">Id</td>
        <td th:utext="${users.getName()}">Name</td>
        <td th:utext="${users.getLastName()}">LastName</td>
        <td th:utext="${users.getPhoneNumber()}">Phone Number</td>
        <td>
            <form th:method="GET" th:action="@{/{id}/edit(id=${users.getId()})}">
                <input type="submit" value="edit"/>
            </form>
            <form th:method="DELETE" th:action="@{/{id}(id=${users.getId()})}">
                <input type="submit" value="delete">
            </form>
        </td>
    </tr>
</table>
<br/>
<hr/>
<a href="/addNewUser"><input type="submit" value="Create new user"></a>
</body>
</html>